<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <h1><%= X.t("about") %></h1>
      <h2><%= X.t("tower_of_trust") %></h2>
      <p><%= X.t("tower_of_trust_description") %></p>
      <h2><%= X.t("source_code") %></h2>
      <p><%= link_to nil, X.github_url %></p>
      <h2><%= X.t("contact") %></h2>
      <p><%= X.contact_email %></p>
      <h2><%= X.t("legal") %></h2>
      <p><%= link_to X.t("privacy_policy_and_tos"), X.path_for("legal") %></p>
    </div>

    <div>
    </div>
  </div>
</section>
