<section class="text-center">                                                                                                             
  <div class="container">
    <h2><%= @user.present %></h2>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><%= X.t("group") %></th>
            <th><%= X.t("action") %></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td>
                <%= link_to item[:group].present, X.path_for("show_group", { group: item[:group] }) %>
              </td>
              <td>
                <% if item[:trust_action]  %>
                  <%= link_to X.t("trust"),
                              X.path_for("do_trust_regular", { user: @user, group: item[:group] }),
                              method: "post",
                              class: "btn btn-primary" %>
                <% end %>
                <% if item[:trust_back_action]  %>
                  <%= link_to X.t("trust_back"),
                              X.path_for("do_trust_back", { user: @user, group: item[:group] }),
                              method: "post",
                              class: "btn btn-primary" %>
                <% end %>
                <% if item[:block_trust_action]  %>
                  <%= link_to X.t("block_trust"),
                              X.path_for("do_block_trust", { user: @user, group: item[:group] }),
                              method: "post",
                              class: "btn btn-primary" %>
                <% end %>
                <% if item[:unblock_trust_action]  %>
                  <%= link_to X.t("unblock_trust"),
                              X.path_for("do_unblock_trust", { user: @user, group: item[:group] }),
                              method: "post",
                              class: "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <div>
  </div>
</section>