<section class="text-center">                                                                                                             
  <div class="container">
    <h2><%= @trustee.present("user") %></h2>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><%= X.t("group") %></th>
            <th><%= X.t("action") %></th>
          </tr>
        </thead>
        <tbody>
          <% @common_groups.each do |group| %>
            <tr>
              <td>
                <%= link_to group.present, X.path_for("show_group", { group: group }) %>
              </td>
              <td>
                <%= link_to X.t("trust"), X.path_for("do_trust_regular", { trustee: @trustee, group: group }),
                            method: "post",
                            class: "btn btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <div>
  </div>
</section>