<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <div>
        <div>
          <h2>
            <% if @view_manager.show?("your_profile_title")  %>
              <%= X.t("your_profile") %>
            <% end %>
            <% if @view_manager.show?("somebody_profile_title")  %>
              <%= X.t("somebody_profile") %>
            <% end %>
            <%= link_to @user.present, X.path_for("show_user", { user: @user }) %>
          </h2>
          <table class="table">
            <thead>
              <tr>
                <th><%= X.t("action") %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <% if @view_manager.show?("trust_for_person_link")  %>
                    <%= link_to X.t("new_trust"), X.path_for("new_trust", { user: @user }), class: "btn btn-primary" %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <h3><%= X.t("participating_groups") %></h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><%= X.t("group") %></th>
                  <th><%= X.t("group_membership") %></th>
                  <th><%= X.t("trustee") %></th>
                  <th><%= X.t("tower_of_trust") %></th>
                  <th><%= X.t("action") %></th>
                </tr>
              </thead>
              <tbody>
                <% @memberships.each do |membership| %>
                  <tr>
                    <td>
                      <%= link_to membership.present("group"), X.path_for("show_group", { group: membership.group }) %>
                    </td>
                    <td>
                      <%= link_to X.t("group_membership_instance"), X.path_for("show_group_membership", { group_membership: membership }) %>
                    </td>
                    <td>
                      <% if membership.trustee  %>
                        <%= link_to membership.trustee.present("user"), X.path_for("show_group_membership", { group_membership: membership.trustee }) %>
                      <% end %>
                    </td>
                    <% if membership.tower  %>
                      <td bgcolor="<%= membership.tower.color %>">
                        <%= link_to membership.tower.present("tower"), X.path_for("show_group_membership", { group_membership: membership.tower }) %>
                      </td>
                    <% else %>
                      <td>
                      </td>
                    <% end %>
                    <td>
                      <% if @view_manager.show?("trust_back_buttons")  %>
                        <% if membership.current_trust  %>
                          <%= link_to X.t("trust_back"), X.path_for("do_trust_back", { trust: membership.current_trust }), method: "post", class: "btn btn-primary" %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
        <div>
          <h3><%= X.t("moderating_groups") %></h3>
            <% @moderating_groups.each do |group| %>
              <%= link_to group.present, X.path_for("show_group", { group: group }) %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
