<section class="text-center">                                                                                                             
  <div class="container">
    <div>
          <h2>
            <%= link_to @gmember.present("user"), X.path_for("show_user", { user: @gmember.member }) %>
            <%= X.t("in_group") %>
            <%= link_to @group.present, X.path_for("show_group", { group: @group }) %>
          </h2>
          <% if @view_manager.show?("action_link")  %>
            <div>
              <%= link_to X.t("new_trust"), X.path_for("new_trust", { user: @gmember.member }), class: "btn btn-primary" %>
            </div>
          <% end %>
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link <%= 'active' if @view_manager.show?('tower_of_trust_tab') %>"
                   href="<%= X.path_for('show_gmember', { gmember: @gmember, tab: 'tower_of_trust' }) %>">
                  <%= X.t("tower_of_trust") %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if @view_manager.show?('trust_history_tab') %>"
                   href="<%= X.path_for('show_gmember', { gmember: @gmember, tab: 'trust_history' }) %>">
                  <%= X.t("trust_history") %>
                </a>
              </li>
            </ul>
          <% if @view_manager.show?('tower_of_trust_tab') %>
            <table class="table">
              <thead>
              </thead>
              <tbody>
                <% if @gmember.tower_top %>
                  <% @tower.each do |tower_floor| %>
                    <tr bgcolor="<%= @gmember.tower_top.color %>">
                      <td>
                        <%= link_to tower_floor.present("tower"), X.path_for("show_gmember", { gmember: tower_floor }) %>
                      </td>
                    </tr>
                  <% end %>
                  <tr bgcolor="<%= @gmember.tower_top.color %>">
                    <td>
                      <% @trusts_on.each do |trust| %>
                        <%= link_to trust.truster.present("user"), X.path_for("show_gmember", { gmember: trust.truster }) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <% if @view_manager.show?('trust_history_tab') %>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><%= X.t("name") %></th>
                  <th><%= X.t("status") %></th>
                  <th><%= X.t("on_date") %></th>
                </tr>
              </thead>
              <tbody>
                <% @trusts_of.each do |trust| %>
                  <tr>
                    <td>
                      <%= link_to trust.trustee.present("user"), X.path_for("show_gmember", { gmember: trust.trustee }) %>
                    </td>
                    <td>
                      <%= trust.present_status %>
                    </td>
                    <td>
                      <%= trust.present_created_at %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
      </div>
    </div>
  </div>
</section>
