<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <div>
        <div>
          <h1>
            <%= link_to @group.present, X.path_for("show_group", { group: @group }) %>
            
          </h1>
          <% if @view_manager.show?("join_group_button") %>
            <%= link_to X.t("join_group"), X.path_for("do_join_group", { group: @group }), method: "post", class: "btn btn-primary" %>
          <% elsif @view_manager.show?("leave_group_button") %>
            <%= link_to X.t("leave_group"), X.path_for("do_leave_group", { gmember: @gmember }), method: "post", class: "btn btn-primary" %>
          <% end %>

          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link <%= 'active' if @view_manager.show?('towers_tab') %>"
                   href="<%= X.path_for('show_group', { group: @group, tab: 'towers' }) %>">
                  <%= X.t("towers_of_trust") %>
                </a>
              </li>
              <% if @view_manager.show?('tower_tab') %>
                <li class="nav-item">
                  <a class="nav-link <%= 'active' if @view_manager.show?('tower_tab') %>" href="">
                    <%= X.t("tower_of_trust") + " - " + @tower.present %>
                  </a>
                </li>
              <% end %>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if @view_manager.show?('members_tab') %>"
                   href="<%= X.path_for('show_group', { group: @group, tab: 'members' }) %>">
                  <%= X.t("members") %>
                </a>
              </li>
            </ul>
          <% if @view_manager.show?('towers_tab') %>
            <table class="table">
              <thead>
              </thead>
              <tbody>
                <% @towers.each do |tower| %>
                  <tr>
                    <td>
                      <%= link_to tower.present, X.path_for("show_tower", { tower: tower }) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% elsif @view_manager.show?('tower_tab') %>
            <% def draw_tree(node, is_child) %>
              <% if node[:children].present? %>
                <details class="tree-nav__item is-expandable">
                  <summary class="tree-nav__item-title">
                    <%= node[:gmember].present("user") %>
                  </summary>
                <div class="tree-nav__item">
                  <% node[:children].each do |child| %>
                    <% draw_tree(child, true) %>
                  <% end; nil %>
                </div>
                </details>
              <% else %>
                  <a class="tree-nav__item-title">
                    <%= node[:gmember].present("user") %>
                  </a>
              <% end %>
            <% end %>

            <div class="tower-tree">
              <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css" rel="stylesheet" type="text/css"/>
              <nav class="tree-nav">
                <% draw_tree(@tower_nodes[:top], false) if !@tower_nodes.nil? %>
              </nav>
            </div>

          <% elsif @view_manager.show?('members_tab') %>
            <table class="table">
              <thead>
                <tr>
                  <th><%= X.t("user") %></th>
                  <th><%= X.t("tower_of_trust") %></th>
                </tr>
              </thead>
              <tbody>
                <% @gmembers.each do |gmember| %>
                  <tr>
                    <td>
                      <%= link_to gmember.member.present, X.path_for("show_user", { user: gmember.member }) %>
                    </td>
                    <% if gmember.tower  %>
                      <td bgcolor="<%= gmember.tower.color %>">
                        <%= link_to gmember.tower.present, X.path_for("show_tower", { tower: gmember.tower }) %>
                      </td>
                    <% else %>
                      <td></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% if @pagination.has_many_pages? %>
              <nav>
                <ul class="pagination">
                <% if @pagination.has_previous_page? %>
                  <li class="page-item">
                    <a class="page-link" href="?<%= @pagination.previous_page_query %>">
                      <%= X.t("previous_page") %>
                    </a>
                  </li>
                <% end %>
                <% if @pagination.has_next_page? %>
                  <li class="page-item">
                    <a class="page-link" href="?<%= @pagination.next_page_query %>">
                      <%= X.t("next_page") %>
                    </a>
                  </li>
                <% end %>
                </ul>
              </nav>
            <% end %>
          <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>