<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <div>
        <div>
          <h1>
            <%= link_to @group.present, X.path_for("show_group", { group: @group }) %>
          </h3>
          <% if @view_manager.show?("join_group_button") %>
            <%= link_to X.t("join_group"), X.path_for("do_join_group", { group: @group }), method: "post", class: "btn btn-primary" %>
          <% elsif @view_manager.show?("leave_group_button") %>
            <%= link_to X.t("leave_group"), X.path_for("do_leave_group", { gmember: @gmember }), method: "post", class: "btn btn-primary" %>
          <% end %>
          <h3><%= X.t("members") %></h3>
          <table class="table">
            <thead>
              <tr>
                <th><%= X.t("gmember") %></th>
                <th><%= X.t("tower_of_trust") %></th>
                <th scope="col"><%= X.t("user") %></th>
              </tr>
            </thead>
            <tbody>
              <% @gmembers.each do |gmember| %>
                <tr>
                  <td>
                    <%= link_to gmember.present("user"), X.path_for("show_gmember", { gmember: gmember }) %>
                  </td>
                  <% if gmember.tower_top  %>
                    <td bgcolor="<%= gmember.tower_top.color %>">
                      <%= link_to gmember.tower_top.present("tower"),
                                  X.path_for("show_gmember", { gmember: gmember.tower_top }) %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td>
                    <%= link_to X.t("profile_instance"), X.path_for("show_user", { user: gmember.member }) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
