<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <div>
        <div>
          <h2>
            <% if @view_manager.show?("your_profile_title")  %>
              <%= X.t("your_profile") %>
            <% end %>
            <% if @view_manager.show?("somebody_profile_title")  %>
              <%= X.t("somebody_profile") %>
            <% end %>
            <%= link_to @user.present, X.path_for("show_user", { user: @user }) %>
          </h2>
          <% if @view_manager.show?("action_link")  %>
            <%= link_to X.t("new_trust"), X.path_for("new_trust", { user: @user }), class: "btn btn-primary" %>
          <% end %>
        </div>

        <div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link <%= 'active' if @view_manager.show?('participating_groups_tab') %>"
                 href="<%= X.path_for('show_user', { user: @user, tab: 'participating_groups' }) %>">
                <%= X.t("participating_groups") %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if @view_manager.show?('moderating_groups_tab') %>"
                 href="<%= X.path_for('show_user', { user: @user, tab: 'moderating_groups' }) %>">
                <%= X.t("moderating_groups") %>
              </a>
            </li>
          </ul>
          <% if @view_manager.show?('participating_groups_tab') %>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><%= X.t("group") %></th>
                  <th><%= X.t("gmember") %></th>
                  <th><%= X.t("tower_of_trust") %></th>
                </tr>
              </thead>
              <tbody>
                <% @gmembers.each do |gmember| %>
                  <tr>
                    <td>
                      <%= link_to gmember.present("group"), X.path_for("show_group", { group: gmember.group }) %>
                    </td>
                    <td>
                      <%= link_to gmember.present("user"), X.path_for("show_gmember", { gmember: gmember }) %>
                    </td>
                    <% if gmember.tower  %>
                      <td bgcolor="<%= gmember.tower.color %>">
                        <%= gmember.tower.present %>
                      </td>
                    <% else %>
                      <td>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <% if @view_manager.show?('moderating_groups_tab') %>
            <% @moderating_groups.each do |group| %>
              <%= link_to group.present, X.path_for("show_group", { group: group }) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
