<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><%= X.t("name") %></th>
                <th><%= X.t("team") %></th>
                <th><%= X.t("current_vote") %></th>
                <th><%= X.t("action") %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= link_to @user.present("user"), X.path_for("show_user", { user: @user }) %>
                </td>
                <td>
                  <% if @user.team  %>
                    <%= link_to @user.team.present("team"), X.path_for("show_user", { user: @user.team }) %>
                  <% end %>
                </td>
                <td>
                  <% if @current_vote %>
                    <%= link_to @current_vote.person.present("user"), X.path_for("show_user", { user: @current_vote.person }) %>
                  <% end %>
                </td>
                <td>
                  <% if @view_manager.show?("vote_button")  %>
                    <form action="<%= X.path_for("do_vote_regular") %>" method="POST">
                      <%= hidden_field_tag :authenticity_token, X.form_authenticity_token(self) %>
                      <input type="hidden" name="user_id" value="<%= @user.id %>" />
                      <button type="submit" class="btn btn-primary"><%= X.t("do_vote") %></button>
                    </form>
                  <% end %>
                  <% if @view_manager.show?("expire_my_vote_button") %>
                    <form action="<%= X.path_for("do_vote_take_back") %>" method="POST">
                      <%= hidden_field_tag :authenticity_token, X.form_authenticity_token(self) %>
                      <button type="submit" class="btn btn-primary"><%= X.t("expire_my_vote_button") %></button>
                    </form>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <h3><%= X.t("has_votes") %></h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><%= X.t("name") %></th>
              </tr>
            </thead>
            <tbody>
              <% @votes_on.each do |vote| %>
                <tr>
                  <td>
                    <%= link_to vote.voter.present("user"), X.path_for("show_user", { user: vote.voter }) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div>
          <h3><%= X.t("voting_record") %></h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><%= X.t("name") %></th>
                <th><%= X.t("status") %></th>
                <th><%= X.t("on_date") %></th>
              </tr>
            </thead>
            <tbody>
              <% @votes_of.each do |vote| %>
                <tr>
                  <td>
                    <%= link_to vote.person.present("user"), X.path_for("show_user", { user: vote.person }) %>
                  </td>
                  <td>
                    <%= vote.present_status %>
                  </td>
                  <td>
                    <%= vote.present_created_at %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div>
          <h3><%= X.t("moderating_groups") %></h3>
            <% @moderating_groups.each do |group| %>
              <%= link_to group.present, X.path_for("show_group", { group: group }) %>
            <% end %>
        </div>
        <div>
          <h3><%= X.t("participating_groups") %></h3>
            <% @participating_groups.each do |group| %>
              <%= link_to group.present, X.path_for("show_group", { group: group }) %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
