<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <div>
        <div>
          <h1>
            <%= link_to @group.present, X.path_for("show_group", { group: @group }) %>
          </h3>
          <% if @view_manager.show?("join_group_button") %>
            <%= link_to X.t("join_group"), X.path_for("do_join_group", { group: @group }), method: "post", class: "btn btn-primary" %>
          <% elsif @view_manager.show?("leave_group_button") %>
            <%= link_to X.t("leave_group"), X.path_for("do_leave_group", { group_membership: @membership }), method: "post", class: "btn btn-primary" %>
          <% end %>
          <h3><%= X.t("members") %></h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><%= X.t("name") %></th>
                <th><%= X.t("team") %></th>
              </tr>
            </thead>
            <tbody>
              <% @memberships.each do |membership| %>
                <tr>
                  <td>
                    <%= link_to membership.present_as_member, X.path_for("show_group_membership", { group_membership: membership }) %>
                  </td>
                  <% if membership.tower  %>
                    <td bgcolor="<%= membership.tower.color %>">
                      <%= link_to membership.tower.present("tower"),
                                  X.path_for("show_user", { user: membership.tower }) %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
