<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <div>
        <div>
          <h2>
            <% if @view_manager.show?("your_profile_title")  %>
              <%= X.t("your_profile") %>
            <% end %>
            <% if @view_manager.show?("somebody_profile_title")  %>
              <%= X.t("somebody_profile") %>
            <% end %>
            <%= link_to @user.present, X.path_for("show_user", { user: @user }) %>
          </h2>
          <% if @view_manager.show?("trust_for_person_link")  %>
            <%= link_to X.t("new_trust"), X.path_for("new_trust", { user: @user }), class: "btn btn-primary" %>
          <% end %>
        </div>

        <div>
          <h3><%= X.t("participating_groups") %></h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><%= X.t("group") %></th>
                  <th><%= X.t("gmember") %></th>
                  <th><%= X.t("tower_of_trust") %></th>
                  <th><%= X.t("action") %></th>
                </tr>
              </thead>
              <tbody>
                <% @gmembers.each do |gmember| %>
                  <tr>
                    <td>
                      <%= link_to gmember.present("group"), X.path_for("show_group", { group: gmember.group }) %>
                    </td>
                    <td>
                      <%= link_to gmember.present("group"), X.path_for("show_gmember", { gmember: gmember }) %>
                    </td>
                    <% if gmember.tower_top  %>
                      <td bgcolor="<%= gmember.tower_top.color %>">
                        <%= link_to gmember.tower_top.present("tower"), X.path_for("show_gmember", { gmember: gmember.tower_top }) %>
                      </td>
                    <% else %>
                      <td>
                      </td>
                    <% end %>
                    <td>
                      <% if @view_manager.show?("trust_back_buttons")  %>
                        <% if gmember.current_trust  %>
                          <%= link_to X.t("trust_back"), X.path_for("do_trust_back", { trust: gmember.current_trust }), method: "post", class: "btn btn-primary" %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
        <div>
          <h3><%= X.t("moderating_groups") %></h3>
            <% @moderating_groups.each do |group| %>
              <%= link_to group.present, X.path_for("show_group", { group: group }) %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
