<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <%= @meeting_page %> |
      <%= link_to @home_link, home_path %>
      <%= link_to @meetings_link, meetings_path %>
    </div>
    <h1><%= @meeting.title_presentation %></h1>
    <ul class="list-group">
      <% @meeting.participants.each do |participant| %>
        <li class="list-group-item">
          <%= participant.presentation_for_meeting %>
        </li>
      <% end %>
    </ul>

    <% unless @meeting.happened? %>
      <form action="<%= happened_meeting_path(@meeting.id) %>" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <input type="hidden" name="_method" value="put" />
        <button type="submit" class="btn btn-primary"><%= @set_meeting_has_happened %></button>
      </form>
    <% end %>
  </div>
</section>
