<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <%= @home %> |
      <%= link_to @cities_link, cities_path %>
      <%= link_to @meetings_link, meetings_path %>
      <%= link_to @info_link, info_path %>
      <%= link_to(@edit_profile_link, edit_user_registration_path) %>
      <form action="<%= destroy_user_session_path %>" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <input type="hidden" name="_method" value="delete" />
        <button type="submit" class="btn btn-primary"><%= @logout_link %></button>
      </form>
    </div>
    <div>
      <div>
      <% if @city %>
        <b><%= @city_paragraph %></b>
        <%= @city.full_presentation %>
      <% else %>
        <b><%= @set_your_city %></b>
        <%= link_to @cities_link, cities_path %>
      <% end %>
      </div>
     
    <div>
     <b><%= @active_meetings_paragraph %></b>
      <ul class="list-group">
        <% @meetings_that_didnt_happen.each do |meeting| %>
          <li class="list-group-item">
            <%= meeting.title_presentation %> <%= link_to @show, meeting_path(meeting.id) %>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
</section>
