<section class="text-center">                                                                                                             
  <div class="container">
    <%= @main_page %> |
    <%= link_to @info_link, info_path %>
    <%= link_to(@login_link, new_user_session_path)  %>  
    <%= link_to(@sign_up_link, new_user_registration_path)  %>
  </div>
  <span><%= @message_main_short %></span>
  <%= link_to @info_link, info_path %>
</section>
