<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <%= @info_page %> |
      <%= link_to @main_page, root_path %>
    </div>
    <div>
      <h3><%= @overview %></h3>
      <div><%= @message_main_short %></div>
      <h4><%= @technical %></h4>
      <div><%= @message_main_technical %></div>
      <h3><%= @meeting %></h3>
      <div><%= @message_intro %></div>
      <ul class="list-group">
        <% @message_points.each do |point| %>
          <li class="list-group-item">
            <%= point %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
