<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <%= @page_name %> |
      <%= link_to @home_link, home_path %>
      <%= link_to @cities_link, cities_path %>
    </div>

  <form action="/cities" method="PUT">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <% unless @city.errors.empty? %>
      <ul class="list-group">
        <% @city.errors.full_messages.each do |message| %>
          <li class="list-group-item">
            <%= "#{message}" %>
          </li>
        <% end %>
      </ul>
    <% end %>
    
    <div class="form-group">
      <label for="name"><%= @name %></label>
      <input type="text" class="form-control" id="name"><%= @city.name %></input>
    </div>
    <div class="form-group">
      <label for="state"><%= @state %></label>
      <input type="text" class="form-control" id="state"><%= @city.state %></input>
    </div>
    <div class="form-group">
      <label for="country"><%= @country %></label>
      <input type="text" class="form-control" id="country"><%= @city.country %>
    </div>
    <button type="submit" class="btn btn-primary"><%= @update %></button>
  </form>
  </div>
</section>
