<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <%= @page_name %> |
      <%= link_to @home_link, home_path %>
      <%= link_to @add_city, new_city_path %>
    </div>

    <ul class="list-group">
      <% @cities.each do |city| %>
        <li class="list-group-item">
          <%= city.full_presentation %>
          <% unless city == current_user.city %>
            <form action="<%= join_city_path(city.id) %>" method="POST">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <input type="hidden" name="_method" value="put" />
              <button type="submit" class="btn btn-primary"><%= @join %></button>
            </form>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
